body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #1c1f26, #15161a);
    color: white;
}

header {
    text-align: center;
    padding: 20px;
    background: #20232b;
    box-shadow: 0 0 20px #000;
}

h1 {
    margin: 0;
    color: #ff9f1c;
    font-size: 32px;
}

.search-box {
    margin-top: 15px;
}

.search-box input {
    padding: 10px;
    width: 260px;
    border-radius: 10px;
    border: none;
}

button {
    padding: 10px 15px;
    border-radius: 8px;
    background: #ff9f1c;
    color: black;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.grid {
    padding: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}

.card {
    background: #2c3038;
    padding: 10px;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
    background: #3d414b;
}

.card img {
    width: 100%;
    height: 230px;
    border-radius: 10px;
    object-fit: cover;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none !important;
}

.modal-content {
    background: #22252d;
    padding: 20px;
    border-radius: 12px;
    width: 80%;
    max-width: 800px;
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    right: 15px;
    top: 5px;
    font-size: 30px;
    cursor: pointer;
}

iframe {
    width: 100%;
    height: 400px;
    margin-top: 15px;
    border-radius: 10px;
    border: none;
}

.episode-controls input {
    width: 60px;
    margin: 5px;
    padding: 5px;
    border-radius: 6px;
}

.next-btn {
    margin-top: 10px;
}

.debug-box {
    background: #000;
    color: #33ff99;
    padding: 10px;
    margin-top: 20px;
    text-align: left;
    border-radius: 10px;
    font-size: 12px;
}
